{% extends 'shop/basic.html' %}
{% block css %}

          .col-md-3
          {
          display: inline-block;
          max-width:15%;
          margin-left:-4px;
          }

          .carousel-indicators .active {
          background-color: blue;
            }

          .col-md-3 img{

          width: 170px;
          height: 200px;
          }

          body .carousel-indicator li{
          background-color: blue;
          }

          body .carousel-indicators{
          bottom: 0;
          }

          body .carousel-control-prev-icon,
          body .carousel-control-next-icon{
          background-color: blue;
          }

          .carousel-control-prev,
          .carousel-control-next{
          top: auto;
          bottom: auto;
          padding-top: 222px;
          }
           body .no-padding{
           padding-left: 0,
           padding-right: 0;
           }
           .w-2{
            width:7rem;
           }
           .carousel-inner{
            overflow:visible;
           }
            .mw-20{
              max-width:2030px;
           }
 {% endblock %}

{% block body %}
{% load static %}

{% for message in messages  %}            
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      <strong>Message : </strong> {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
{% endfor %} 

<div class="container ml-5 mr-0 "style="max-width: 2030px;">

    <!--Slideshow starts here -->
    {% for product, range, nSlides in allProds %}
    <h3 class="mt-4 mx-4">Flash Sale On <b>{{product.0.category}}</b> - Recommended Items</h3>
    <div class="row mx-0 w-100 ">
    <div id="demo{{forloop.counter}}" class="col carousel slide my-0" data-ride="carousel">
    <ul class="list-unstyled">
      <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>

       {% for i in range %}
      <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}" ></li>
      {% endfor %}
    </ul>


    <div class="container carousel-inner no-padding mx-0" style="max-width: 2030px;">

      <div class="carousel-item active mx-0 ">


        {% for i in product %}
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card align-items-center" style="width: 18rem;">
            <img src='/media/{{i.image}}' class="card-img-top" alt="...">
            <div class="card-body">
              <!-- id=namepr{i.id} is geven to fetch pr name by its id at jquery  -->
              <h5 class="card-title text-center" id="namepr{{i.id}}">{{i.product_name}}</h5>
              <hr>
              <!-- <h5 class="card-title " id="pricepr{{i.id}}">Rs. {{i.price}}/-</h5>    #Instead of this we use span tag to serate price so that we can fetch it eaisly without slicing..  -->
              <h5 class="card-text text-center">₹ <span id="pricepr{{i.id}}">{{i.price}}</span>/-</h5>
              <p class="card-text desc" >{{i.desc}}</p>
              
              <span id="divpr{{i.id}}" class="divpr">
                <button id="pr{{i.id}}" class="btn btn-primary cart">Add To Cart</button>
              </span>
              <a href="/shop/products/{{i.id}}"><button id="qv{{i.id}}" class="btn btn-primary">Quick View</button></a>

            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:6 and forloop.counter > 0 and not forloop.last %}
      </div><div class="carousel-item">
        {% endif %}

        {% endfor %}
    </div>



</div>
</div>
    <!-- left and right controls for the slide -->
    <a class="carousel-control-prev w-2" href="#demo{{forloop.counter}}" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next w-2" href="#demo{{forloop.counter}}" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
        </div>
    {% endfor %}
</div>

 {% endblock %}


 {% block js %} 
 <script >

  {%if msg|length != 0 %}
    alert('{{msg}}');
    document.location.href="/";
  {%endif%}

window.onload = function(){
  let collection = document.getElementsByClassName('desc');
  for (let i = 0; i < collection.length; i++) {
  collection[i].innerHTML = collection[i].innerHTML.slice(0,50)+"... ";
  } 
};
function convertToInt(str) {
  // Remove commas from the string
  const cleanedStr = str.split(",").join("");

  // Convert the string to an integer using the parseInt() function
  // with a radix of 10 to ensure that it's interpreted as a base 10 number
  const num = parseInt(cleanedStr, 10);

  return num;
}

      
// Find out the cart items from localStorage
if (localStorage.getItem('cart') == null) {
    var cart = {};
} else {
    cart = JSON.parse(localStorage.getItem('cart'));
    updateCart(cart);
}
// If the add to cart button is clicked, add/increment the item
// $('.cart').click(function() {
  $('.divpr').on('click', 'button.cart', function(){

    var idstr = this.id.toString();   //this.id means value of 'id' that the TAG contains..
    if (cart[idstr] != undefined) {
      // i.e. there is already an existing entery for that prod. in cart, so incr. quantity
        cart[idstr][0] = cart[idstr][0] + 1;
    } else {
      let qty=1;
      let name=document.getElementById('name'+idstr).innerHTML;
      let price=document.getElementById('price'+idstr).innerHTML;
      price = convertToInt(price);

      // name of prod (at localstorage) in cart is required for checkout page.......
      cart[idstr] = [qty,name,price];
    }
    updateCart(cart);
    
});


// $('#popcart').on('click', 'button.btn',updatePopover(cart));

// getsum func to update cart :
function getsum(cart){
  var sum=0;
  for (var key in cart) { sum=sum+cart[key][0]; }
  return sum;
}


//UpdatePopover func
function updatePopover(cart)
{
    var popStr = "";
    popStr = popStr + "<h5> Cart for your items in my shopping cart </h5><div class='mx-2 my-2'>";
    var i = 1;
    for (var item in cart){
          popStr = popStr + "<b>" + i + "</b>. ";
          popStr = popStr + cart[item][1].slice(0,19) + "... Qty: " + cart[item][0] + '<br>';
          i = i+1;
    }
    popStr=popStr+"</div> <a href='/shop/checkout'><button class='btn btn-primary mx-3' id='checkout'> Checkout </button></a>"
    +"<button class='btn btn-primary' onclick='clearCart()' id = 'clearCart' > Clear Cart </button>";
    document.getElementById('popcart').setAttribute('data-content', popStr);
    $('#popcart').popover('show'); // we will show popcart when the cart has atleast 1 item otherwise hidden (by default)
}

// UpdateCart func : 
function updateCart(cart) {
    for (var item in cart) {
      // cart is a dict. which has key as idstr & has value as list of [qnt,name,price]
      // item is like 'pr7' / 'pr4'

      if(cart[item][0]>0){
        // getting id of span tag using 'divpr7' so that we can replace 'Add to Cart' button with '- qnt +' button ..
        document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item + "''>" + cart[item][0] + "</span> <button id='plus" + item + "' class='btn btn-primary plus'> + </button>";
        //  = "<button id='minuspr7' class='btn btn-primary minus'> - </button> <span id='valpr7> 3 </span> <button id='pluspr7' class='btn btn-primary plus'> + </button>";
      }
      
      
    }
    // updating cart value at localstorage so that we can grab it next time in the starting
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = getsum(cart);

    // Update popover by updated cart
    updatePopover(cart);
}

// If plus or minus button is clicked, change the cart as well as the display value
$('.divpr').on("click", "button.minus", function() {
    a = this.id.slice(5, );
    // a is like pr7 / pr6
    cart[a][0] = cart[a][0] - 1;
    if (cart[a][0]<=0){
      delete(cart[a]);
      document.getElementById('div' + a).innerHTML = "<button id='" + a + "' class='btn btn-primary cart'>Add To Cart</button>";
      updateCart(cart);

    }
    else{

      document.getElementById('val' + a).innerHTML = cart[a][0];
    }

    // update cart so that it can udate cart at localstorage and then call UpdatePopover
    updateCart(cart);
});
$('.divpr').on("click", "button.plus", function() {
    a = this.id.slice(4, );
    cart[a][0] = cart[a][0] + 1;
    document.getElementById('val' + a).innerHTML = cart[a][0];
    updateCart(cart);
});


function clearCart() {
  cart = JSON.parse(localStorage.getItem('cart'));
  for (var item in cart) {
    // when we hit clearcart button then instead of '- val +' restore the 'Add to cart' button for the items that are in cart..
    // So, select 'divpr7' 
      document.getElementById('div' + item).innerHTML = '<button id="' + item + '" class="btn btn-primary cart">Add To Cart</button>'
  }
  localStorage.clear();
  cart = {};
  updateCart(cart);
}




 </script>

 {% endblock %}
 
